# Algo server (TimescaleDB)
ALGO_SERVER_DB_HOST=
ALGO_SERVER_DB_PORT=5432
ALGO_SERVER_DB_USER=
ALGO_SERVER_DB_PASSWORD=
ALGO_SERVER_DB_NAME=

# Windows server (BioT PostgreSQL)
WINDOWS_SERVER_DB_HOST=
WINDOWS_SERVER_DB_PORT=5432
WINDOWS_SERVER_DB_USER=
WINDOWS_SERVER_DB_PASSWORD=
WINDOWS_SERVER_DB_NAME=
